<form {{action "savePost" on="submit"}}>
  {{#if errors}}
    <div class="alert alert-danger" role="alert">
      <ul>
        The following errors should be fixed:
        {{#each errors as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="title">Title</label>
      {{input type="text" class="form-control" value=post.title}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="body">Text</label>
      {{textarea type="text"  class="form-control" value=post.body}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      {{#power-select-multiple
        options=tags
        selected= post.selectedTags
        searchField="label"
        placeholder="Select some tags..."
        onchange=(action "selectTag")
      as |tag|
      }}
        {{tag.label}}
      {{/power-select-multiple}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group form-check col-sm-6">
      {{input type="checkbox" name="archived" checked=post.archived}}
      <label class="form-check-label" for="published">Archived</label>
    </div>
  </div>
  <div class="form-row">
    <label>Photo:</label>
    {{file-upload onFileUploaded=(action "setPostPhoto") class="form-control-file"}}
  </div>

  {{yield}}
</form>
