<div class="row">
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |post|}}
          <tr>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td>
              {{#if post.photo}}
                <img
                  src={{post.photo.url}}
                  alt="post photo"
                  class="img-thumbnail"
                  height="32"
                  width="32"
                >
              {{/if}}
            </td>
            <td>
              {{#link-to "posts.edit" post}}
                {{fa-icon "edit"}}
              {{/link-to}}
            </td>
            <td>
              <button {{action "destroyPost" post}}>
                {{fa-icon "trash"}}
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{#link-to "posts.new" class="btn btn-success"}}
  New
{{/link-to}}
